@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* 400, 500, 700 */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

ul li{
    list-style: none;
}

a, input[type="Submit"]{
    font-size: 1.6rem;
    letter-spacing: 0.15em;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    letter-spacing: 0.15em;
}

h1, h2, h3{
    letter-spacing: 0.25em;
    font-weight: 500;
}

input{
    border: none;
}

input:focus{
    outline: 0;
}