/* ############################################## home ############################################## */

.description .box-content{
    background: url(../files/image1.jpg);
    height: 90vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.description .box-content .text-container{
    width: 70%;
    height: max(350px, 70%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3em;
    position: absolute;

    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slide-from-left 1s forwards 0.3s 1 ease-in-out;
    z-index: 10;
}

@keyframes slide-from-left{
    to{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

/* ############################################## products ############################################## */

.products::after{
    content: "";
    display: block;
    margin-top: 200px;
}

.products .box-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products .box-content h1{
    margin: 5rem 0;
}

.products .image-container{
    border: 2px solid green;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 20px 0px #aaa;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.products .image-container .image-overlay{
    flex-basis: max(300px, 30%);
    height: 400px;
}

.products .image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}