/* ############################################## Container ############################################## */

.container{
    /* border: 2px solid green; */
    max-width: 1200px;
    width: 85vw;
    height: 100%;
    margin: auto;
}

/* ############################################## Text Properties ############################################## */

.text-small{
    font-size: 1.2rem;
}

.text-medium{
    font-size: 1.8rem;
}

.text-large{
    font-size: 2.4rem;
}

.heading{
    display: block;
    text-align: center;
    font-size: 3.6em;
    text-transform: uppercase;
}

.text-bold{
    font-weight: 700;
}

.text-center{
    text-align: center;
}

/* ############################################## Text Color ############################################## */

.text-red{
    color: #e63946;
}

.text-green{
    color: green;
}

.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}

.text-gray{
    color: #555;
}

.bg-dark{
    background-color: #263238;
}

/* ############################################## Button ############################################## */

.btn{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 10em;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary{
    border: 2px solid darkgreen;
    color: darkgreen;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover{
    background-color: #ddd;
}

.btn-secondary{
    border: 2px solid #e63946;
    color: #e63946;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.btn-secondary:hover{
    background-color: #fcf3f2;
}

/* ############################################## Image Overlays ############################################## */

.image-overlay{
    position: relative;
    color: #f4f4f4;
}

.image-overlay::after{
    content: "";
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    opacity: 0;
}

.image-overlay .overlay-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 70%;
    min-height: 15rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    opacity: 0;
}

.image-overlay .overlay-content .btn{
    width: fit-content;
}

.image-overlay:hover::after{
    opacity: 1;
}

.image-overlay:hover .overlay-content{
    bottom: 50%;
    transform: translate(-50%, 50%);
    opacity: 1;
}

/* ############################################## Others ############################################## */

.three-d-shadow{
    box-shadow: 0px 0px 20px 0px #aaa;
}

.full-height{
    height: 100%;
}

/* ############################################## Disappear contents ############################################## */

@media (max-width: 500px){
    .disappear-at-500{
        display: none;
    }
}

@media (min-width: 501px) and (max-width: 768px){
    .disappear-at-768{
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1200px){
    .disappear-at-1200{
        display: none;
    }
}

@media (min-width: 1201px){
    .disappear-at-normal{
        display: none;
    }
}